.html {
  width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  background-color: cornsilk;
  height: auto;
  width: 900px;
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 10px rgb(233, 210, 214);
  border-color: rgb(167, 96, 112);
}

.logo {
  display: inline-flex;
  background-image: url(../logo.jpg);
  height: 130px;
  width: 130px;
  background-repeat: no-repeat;
}

.h1 {
  padding-right: 200px !important;
  width: auto;
  font-size: 20px !important;
  color: chocolate !important;
}

.content {
  position: relative;
  border: solid 2px;
  padding: 0px 0px 0px 10px;
  margin: 20px 10px 20px 10px;
  width: auto;
}

.select {
  display: inline-flex;
  width: auto;
  padding-left: 100px;
  tab-size: 50px;
}

.img {
  padding-right: 20px;
}

.name {
  font-size: 15px;
  color: dimgray;
  font-style: italic;
  text-align-last: left;
}

.time {
  font-size: small;
  display: inline-flex;
  color: chocolate;
  padding-left: 400px;
  text-align-last: right !important;
}

.copyright {
  text-align-last: center;
  font-size: smaller;
  color: darkgray;
  padding-top: 10px;
}


@media screen and (min-device-width: 781px) and (max-device-width: 980px) {
  .html {
    width: 100%;
    height: 100%;
  }
  .container {
    background-color: rgb(231, 231, 231);
    height: auto;
    width: auto;
    border: solid;
  }
  .content {
    width: auto;
    background-color: goldenrod;
    font-size: medium;
    border: solid 2px;
    padding: 0px 0px 0px 10px;
    margin: 0px 10px 0px 10px;
  }
  .h2 {
    font-size: small;
  }
}



@media screen and (min-device-width: 375px) and (max-device-width: 780px) {
  .html {
    width: 100%;
    height: 100%;
  }
  .container {
    background-color: rgb(231, 231, 231);
    height: auto;
    width: auto;
    border: solid;
  }
  .content {
    width: auto;
    background-color: rgb(177, 167, 143);
    font-size: medium;
    border: solid 2px;
    padding: 0px 0px 0px 10px;
    margin: 0px 10px 0px 10px;
  }
  .h2 {
    font-size: small;
  }
  
}